/* GLOBAL */
.company-logo {
  margin: 5px;
  height: calc(40px + 1vmin);
  width: calc(40px + 1vmin);
}

h1 {
  color:#ffffff;
}

h2 {
  color:#ffffff;
}

/* NAVBAR */
.navbar-content-area {
  background-color: #ffffff;
  height: 64px;
  min-width: 98vw;
  padding-left: 1vw;
  padding-right: 1vw;
}

.navbar-containers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.navbar-page-titles-container {
  display: flex;
  flex-direction: row;
}

.navbar-page-titles {
  display: flex;
  font-display: flex;
  margin: 0px calc(5px + 1vmin) 0px calc(5px + 1vmin);
  font-size: calc(6px + 1vmin);
  font-weight: 300;
  text-decoration: none;
  color: #000;
}

.navbar-company-logo-text {
  align-self: center;
  margin: 0px calc(5px + 1vmin) 0px calc(5px + 1vmin);
  font-size: calc(14px + 1vmin);
  font-weight: bolder;
  font-style: italic;
  text-decoration: none;
  color: #000;
}

/* LANDING */
.landing-content-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color:#282c34;
  padding: 25px 50px 25px 50px;
}

.landing-top-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.landing-top-content {
  display: flex;
  justify-content: left;
  margin: 50px 30px 15px 30px;
}

.landing-middle-content {
  display: flex;
  justify-content: left;
  margin: 15px 30px 15px 30px;
}

.landing-bottom-content {
  display: flex;
  justify-content: left;
  margin: 15px 30px 50px 30px;
}

.landing-top-title {
  color: #ffffff;
  font-size: calc(18px + 1vmin);
  font-weight: bolder;
  margin-bottom: 30px;
  margin-left: 60px;
  width: 40%;
  min-width: 150px;
}

.landing-top-text {
  color: #ffffff;
  font-size: calc(10px + 1vmin);
  margin-left: 30px;
  margin-right: 30px;
  /* max-width: 550px; */
  width: 60%;
}

.landing-bottom-text {
  color: #ffffff;
  font-size: calc(10px + 1vmin);
  margin-left: 30px;
  margin-right: 30px;
}

.landing-top-image-container {
  width: 100%;
  min-width: 200px;
  border-radius: 20px;
  margin: 30px;
}

.landing-tiles-image-container {
  width: 350px;
  border-radius: 20px;
}

.landing-tiles-container {
  background-color: #ffffff;
  min-width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.landing-tile {
  margin: 15px 30px 15px 30px;
  display: flex;
  width: 400px;
  height: auto;
}

.landing-left {
  display: flex;
  width: 70%;
  justify-content: center;
}

.landing-left-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.landing-right {
  display: flex;
  width: 30%;
  min-width: 350px;
  justify-content: center;
  align-items: center;
}

/* FAQ */
.accordion {
  display: flex;
  flex-direction: column;
  width: 85vw;
}

.accordion-item {
  margin-bottom: 1rem;
}

.accordion-header {
  border: #ffffff;
  border-style: solid;
  border-radius: 12px;
  padding: 1rem;
  cursor: pointer;
}

.accordion-content {
  padding: 1rem;
  display: none;
}

.accordion-content.active {
  display: block;
}

/* 404 Error */
.error-link-text {
  color: #7de9ff;
  font-size: calc(30px + 1vmin);
  margin-left: 30px;
  margin-right: 30px;
  font-weight: bolder;
}

.error-top-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.error-top-text {
  color: #ffffff;
  font-size: calc(10px + 1vmin);
  margin-left: 30px;
  margin-right: 30px;
  /* max-width: 550px; */
  width: 60%;
  text-align: center;
}

/* TUTORIAL */

.tutorial-text {
  color: #ffffff;
  font-size: calc(10px + 1vmin);
  margin-top: 30px;
  margin-bottom: 30px;
}

/* LANDING POP-UP */
.modal-container {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #6cae76;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
}
